#table-docs {
    width: 100%;
    border-collapse: collapse;
}

#table-docs th,
#table-docs td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#table-docs th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-transform: uppercase;
}

#table-docs td {
    background-color: #ffffff;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* resources/css/app.css */
@keyframes progress-indeterminate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(400%);
    }
}

.animate-progress-indeterminate {
    animation: progress-indeterminate 1.5s ease-in-out infinite;
    width: 25%;
}